<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/Compsci">CompSci</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="fork"><a href="{{site.baseurl}}/Binaryclock">Binary CLock</a></li>
        <li class="fork"><a href="{{site.baseurl}}/Binary">Binary</a></li>
        <li class="fork"><a href="{{site.baseurl}}/LogicGates">Logic Gates</a></li>
        <li class="fork"><a href="{{site.baseurl}}/game">Binary Game</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHb</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>